/*MENU
0 -Geral
1 - Nav Bar
2 - Section 1
3 - Section 2
*/

/* 0 - Geral */

:root   {
    --rosa-primario: #FFB6C0;
    --rosa-secundario: rgba(255,182,192,0.8);

    --branco-primario: #FFF;
    --branco-secundario: #FFFEE8;

    --cinza-primario: #333;
    --cinza-secundario: #CECECE;
}

@font-face  {
    font-family: "Titan";
    src: url(../fonts/TitanOne-Regular.ttf);
}

@font-face  {
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Regular.ttf);
}

/* 1 - Nav Bar */

header{
    width: 90%;
}


nav {
    text-align: right;
}

nav ul li   {
    display: inline-block;
    margin: 15px 5px;
    font-size: 1.125em;
    }

nav a   {
    color: var(--branco-secundario);
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
    transition: 0.3s;
}

nav a:hover {
    background-color: var(--rosa-secundario);
    transition: 0.3s;
}

nav ul li:nth-child(1)::after,
nav ul li:nth-child(2)::after,
nav ul li:nth-child(3)::after   {
    display: inline-block;
    content: "";
    height: 35px;
    width: 2px;
    background-color: var(--rosa-primario);
    position: relative;
    top: .5em;
    right: -7px;
   

}   

/* 2 - Section 1 */

.home   {
    background-image: url("../img/animal.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--branco-secundario);
    text-align: center;
    font-family: "Titan";
}

.home .center   {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin-right: auto;
    width: 50%;
}


.home h1{
    font-size:4em;
    letter-spacing:4px;
}

.home .icons-content{
    margin: 50px 0;
}

.home .icons-content    {
    width: 75px;
    height: 75px;
}

#central    {
    margin: 0 20%;
}

.home .more {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.home .more p   {
    font-size: 1.5em;
    font-family: "Comfortaa";
    color: var(--branco-primario);
    margin-bottom: 5%;
}

.home .arrow  {
    height: 28px;
    width: 28px;
    margin: 0 auto;
    border-left: solid 8px var(--branco-secundario);
    border-bottom: solid 8px var(--branco-secundario);
    transform: rotate(-45deg);
    border-radius: 10%;
}

.title-h2   {
    color: var(--rosa-primario);
    font-family: "Titan";
    font-size: 1.625em;
    text-align: center;
    margin: 100px 0;
}


/*Section - 7 - Footer */

.container  {
max-width: 1100px;
}

.footer {
    background-color: var(--cinza-primario);
    height:133px;
}

.center2    {
    margin: 0 auto;
    display: block;
}
.text2  {
    /* position:absolute; */
    font-family: "Comfortaa";
    font-size: 16px;
    color: var(--cinza-primario);
    text-align: center;
    margin: 0 auto;
    width:992px;
    height: 89px;
    word-wrap: break-word;
}

#dog1   {
    position:relative;
    left:-25px;
    top:140px;
    border-radius: 4px;
}

#cat1   {
    position:relative;
    left:-95px;
    top:px;
    border-radius: 4px;

}

.rectangle  {
    position:relative;
    width:320px;
    height: 370px;
    border: 1px solid var(--rosa-primario);
    box-sizing: border-box;
    top:-175px;
    left:140px;
}

.text3  {
    position:relative;
    font-family: "Comfortaa";
    font-size: 18px;
    letter-spacing: 0.15em;
    color: var(--rosa-primario);
    width:250px;
    height: 300px;
    word-wrap: break-word;
    top:-510px;
    left:140px;

}